<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ramizael.jwmeetingsassignments">

    <application
        android:name="com.orm.SugarApp"
        android:label="@string/app_name">
        <meta-data
            android:name="DATABASE"
            android:value="JwMeetingAssignments.db" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="org.ramizael.jwmeetingsassignments.entities" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CreatePersonActivity"
            android:label="@string/title_activity_create_person"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ramizael.jwmeetingsassignments.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.PersonListActivity"
            android:label="@string/title_person_list"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ramizael.jwmeetingsassignments.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.PersonDetailActivity"
            android:label="@string/title_person_detail"
            android:parentActivityName=".activities.PersonListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ramizael.jwmeetingsassignments.activities.PersonListActivity" />
        </activity>
        <activity
            android:name=".activities.RoleListActivity"
            android:label="@string/title_activity_list_roles"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ramizael.jwmeetingsassignments.activities.MainActivity" />
        </activity>
    </application>

</manifest>